:root {
	--primary-color: #931420;
	--accent-color:  #f6bb73;
	--light-accent:  #fffded;
	--light:         #fff;
	--dark:          #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 80%;
	margin: auto;
	border: 3px solid var(--primary-color);
}
header, section, aside, footer {
	padding: 1em;
}
h1, h2, h3, p, article, blockquote {
	padding-bottom: .5em;
}
ul {
	margin-left: 1em;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 110%;
}

a:focus, a:hover {
	font-style: italic;
}

header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
}
header h2 {
	font-size: 175%;
	color: var(--primary-color);
	padding-bottom: 0;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	margin: 0 30px;
	width: clamp(40px, 15%, 66px);
}

main {
	clear: left;
	display: flex;
	flex-wrap: wrap;
}

section {
	flex-basis: 75%;
}
section h1 {
	color: var(--primary-color);
}
section article + h2 {
	clear: left;
	color: var(--primary-color);
	border-top: 3px solid var(--primary-color);
	padding-top: .5em;
}

article {
	padding-top: .5em;
	margin-bottom: .5em;
}
article img {
	float: left;
	margin: .25em 1em 1em 0;
	border: 1px solid var(--dark);
	width: min(100%, 225px);
}

aside {
	flex-basis: 25%;
}
aside h2 {
	color: var(--primary-color);
}
aside blockquote {
	font-style: italic;
	margin-left: .5em;
}
aside img {
	margin-bottom: .9em;
}

footer {
	background-color: var(--primary-color);
}
footer p {
	text-align: center;
	color: var(--light);
	padding-bottom: 0; 
}

.navbar {
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--primary-color);
	display: flex;
	flex-wrap: wrap;
}

.menu > li {
	position: relative;
}

.menu > li > a {
	display: block;
	padding: 0.75em 1em;
	color: var(--light);
	text-decoration: none;
	font-weight: normal;
}

.submenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--primary-color);
	min-width: 12em;
	z-index: 999;
}

.submenu li {
	display: block;
}

.menu > li:hover .submenu {
	display: block;
}

.submenu a {
	display: block;
	padding: 0.5em 1em;
	color: var(--light);
	text-decoration: none;
}

.menu li.current a {
	color: var(--accent-color);
	font-weight: bold;
}
.menu li.current a:hover {
	color: var(--accent-color);
	font-style: normal;
	font-weight: bold;
}
